/* .main .swiper-slide img {
  max-width: 100%;
  width: 100%;
}

.main.swiper-pagination {
  bottom: 15px;
}

.main.swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border-radius: 4px;
}

.main.swiper-pagination-bullet-active {
  background-color: var(--main-color);
} */

.side {
  display: block;
  position: relative;
}

.side.swiper-container {
  position: static;
}

.side .swiper-pagination {
  bottom: 75px;
}

.serve {
  padding: 100px 0;
  position: relative;
}

.serve h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 50px;
}

.serve .swiper-pagination-bullet {
  width: 15px;
  height: 5px;
  border-radius: 4px;
}

.serve .swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.show {
  position: relative;
}

.text {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  padding-inline-start: 50%;
  transform: translateY(-50%);
}

.text h1 {
  font-weight: 700;
  color: var(--white);
  margin-bottom: 30px;
}

.text p {
  font-size: 17px;
  line-height: 2;
  margin-bottom: 40px;
  color: var(--white);
}

.text .info {
  display: flex;
}

.text .info .btn1 {
  width: 190px;
  height: 45px;
  margin-left: 10px;
  background-color: #fff;
  color: var(--primary-color);
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.text .info .btn2 {
  width: 154px;
  height: 45px;
  background-color: var(--main-color);
  z-index: 2;
  color: #fff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 7px 30px rgba(239, 110, 13, 0.3);
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.text .info .btn1:hover,
.text .info .btn2:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.text .info .btn2 svg {
  width: 16px;
  height: 16px;
  margin-inline-end: 5px;
  margin-bottom: 5px;
  color: var(--white);
}

@media (max-width: 576px) {
  .serve {
    padding: 30px 0;
  }

  .serve h2 {
    margin-bottom: 20px;
  }

  .serve .swiper-pagination {
    bottom: 30px;
  }
}
